@charset "utf-8";
.margin{width:1190px;margin:0 auto;}
#main{
    background: #f5f5f5;
    height: 601px;
    .margin{
        background: #fff;
        height: 100%;
    #title{
        height: 22px;
        padding: 12px 0px 12px 20px;
        font: 14px/22px "";
        margin-bottom: 5px;
    }
    .ztl{
        float: left;
        margin-left: 20px;
        width: 352px;      
        position: relative;
        .zhong{
            height: 350px;
            width: 350px;
            position: relative;
            img{
                border:1px solid #ccc;  
            }
            .jing{
                display: none;
                position: absolute;
                width: 120px;
                height: 120px;
                background: #C2C3C4;
                opacity: .5;
            }
        }
        .da{
            width: 350px;
            height: 350px;
            position: absolute;
            left:370px;
            border:1px solid #ccc;
            top:0px;
            overflow: hidden;
            background: #fff;
            display: none;
            img{
                width: 800px;
                height: 800px;
                position: absolute;
            }
        }
        .xiao{
            .min{
                padding-top:20px;
                li{
                    float: left;
                    margin-right: 15px;                  
                    img{
                         width: 52px;
                        height: 52px;
                        border:1px solid #ccc;
                    }
                }
            }
        }
        .a{
            margin-top: 26px;
            font:400 12px/18px "";
            a{
                height: 18px;
                float: left;
                margin: 0 2px;
            }
            span{
                float:right;
            }
            img{
                height:18px;
                width:18px;
            }
            i{float: left;}
        }
    }
    #zt{
        float: left;
        padding-left:50px;
        width: 492px;
        margin-right: 45px;
        h3{
            font: 18px/27px "";
        }
        h4{
            font: 12px/21px "";
            color: #ff0000;
        }
        .p{
            padding-left: 17px;
            height: 56px;
            background: #eeeff3;
            font: 16px/56px "";
            span{
                color: #f00;
                font:20px/56px "";
                padding: 5px 20px 5px 17px;
                border-right: 1px dashed #a49e9e;
            }
        }
        .sell{
            border-top: 1px dashed #a49e9e;
            border-bottom: 1px dashed #a49e9e;
            font-size: 12px;
            li{
                margin-bottom:22px;
                div{
                    display: inline-block;
                    p{
                        margin:10px 0;
                        i{
                            background: #ed2700;
                            padding: 4px 10px;
                            margin-right: 20px;
                        }
                    }
                }
            }
        }
        .sum{
          
            padding-top: 20px;
            input{
                  text-align: center;
                height: 26px;
                width: 36px;
            }
            a{
                border: 1px solid #c2c3c4;
                padding: 5px 10px;
            }
        }
        .do{
            margin-top: 20px;
            text-align: center;
            a{
                display: inline-block;
                height: 48px;
                width:180px;
                background: #FF4D50;
                color: #FFF;
                font: 20px/48px "";
                border-radius: 5px;
            }
        }
        .zt1{
            text-align: center;
            font: 13px/45px "";
            span{font-size: 21px;color: #a49e9e;margin: 0 24px 0 29px;}
            b{color: #e3393c;margin-left: 12px;}
        }
    }
    .ztr{
        float: left;
        border-top: 2px solid #ff4d50;
        width:216px;
        div{padding-left: 15px;}
        .img{
            text-align: center;
            border-bottom:1px solid #ccc8c8;
        }
        .img2{
            height: 26px;
            padding:15px 0;
            b{color: #fff;
                background: #ff4d50;
                padding:7px;
                margin:0 15px;
            }
            a{
                &:hover{color: red;}
            }
        }
        .border1{
            font:16px/36px "";
            border-top: 1px dashed #ccc8c8;
            border-bottom: 1px dashed #ccc8c8;
        }
        .img3{
            font: 16px/36px "";
        }
        .img4{
            font: 12px/22px "";
        }
    }
    }
}
